@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeueCyr-Thin.woff') format('woff'),
        url('../assets/HelveticaNeueCyr-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeueCyr-ThinItalic.woff') format('woff'),
        url('../assets/HelveticaNeueCyr-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeueCyr-UltraLight.woff') format('woff'),
        url('../assets/HelveticaNeueCyr-UltraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeueCyr-UltraLightItalic.woff') format('woff'),
        url('../assets/HelveticaNeueCyr-UltraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeueCyr-Light.woff') format('woff'),
        url('../assets/HelveticaNeueCyr-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeueCyr-LightItalic.woff') format('woff'),
        url('../assets/HelveticaNeueCyr-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeueCyr-Roman.woff') format('woff'),
        url('../assets/HelveticaNeueCyr-Roman.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeueCyr-Italic.woff') format('woff'),
        url('../assets/HelveticaNeueCyr-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeueCyr-Medium.woff') format('woff'),
        url('../assets/HelveticaNeueCyr-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeueCyr-MediumItalic.woff') format('woff'),
        url('../assets/HelveticaNeueCyr-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeueCyr-Bold.woff') format('woff'),
        url('../assets/HelveticaNeueCyr-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeueCyr-BoldItalic.woff') format('woff'),
        url('../assets/HelveticaNeueCyr-BoldItalic.woff') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeueCyr-Heavy.woff') format('woff'),
        url('../assets/HelveticaNeueCyr-Heavy.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeueCyr-HeavyItalic.woff') format('woff'),
        url('../assets/HelveticaNeueCyr-HeavyItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeueCyr-Black.woff') format('woff'),
        url('../assets/HelveticaNeueCyr-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeueCyr-BlackItalic.woff') format('woff'),
        url('../assets/HelveticaNeueCyr-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}