.swiper-cont {
    position: relative;
    margin-top: 42px;

    @media screen and (max-width: 600px) {
        margin-top: 49px;;
    }
}

.speakers {
    overflow: hidden;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    display: none;
}

.swiper-button-prev,
.swiper-button-next {
    width: 28px;
    height: 85px;

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.swiper-button-prev {
    left: -20%;
    z-index: 10;
}

.swiper-button-next {
    right: -20%;
}

.swiper-pagination {
    margin-top: 50px;
    position: static;

    @media screen and (max-width: 900px) {
        margin-top: 63px;
    }

    @media screen and (max-width: 600px) {
        margin-top: 48pxpx;
    }

}

.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    opacity: 1;
    background-color: #E4E4E4;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-of-type) {
    margin-right: 28px;
}

.swiper-pagination-bullet-active {
    background-color: #0A2756;
}

.swiper-item {
    position: relative;
}

.swiper-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 26px 30px;
    background: rgba(0, 128, 255, 0.70);

    @media screen and (max-width: 900px) {
        padding: 10px 23px;
    }
}

.swiper-title {
    margin: 0;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.swiper-text {
    margin: 0;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.swiper-img {
    display: block;
    width: 100%;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    width: 47.3%;

    @media screen and (max-width: 900px) {
        width: 46.8%;
    }

    @media screen and (max-width: 600px) {
        width: 100%;
        display: none;
    }
}

.swiper-slide:not(:last-child) {
    margin-right: 5.4%;
    @media screen and (max-width: 600px) {
        margin-right: 6.4%;
    }
}

.swiper-slide:nth-child(-n+5) {
    @media screen and (max-width: 600px) {
        display: block;
    }
}
.swiper-slide:nth-child(5) {
    @media screen and (max-width: 600px) {
        margin-right: 0;
    }
}
